name: Tests

on:
  
  push:
    branches: [main]
  pull_request:

jobs:
  test-macos:
    name: macOS ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # x86_64 support is work in progress
          # - os: macos-15-large  # Intel x86_64
          #   arch: x86_64
          - os: macos-latest  # Apple Silicon arm64
            arch: arm64
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: /usr/bin/python3 run_tests.py -v
